.header {
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  max-width: 100%;
}

#sectiontwo {
  background-color: black;
  width: 100%;
  color: white;
  margin: 5px 0px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.imagedisplayone {
  float: left;
}

.imagedisplaytwo {
  float: right;
}

.imagedisplaythree {
  float: left;
}

#buttonone {
  width: 100px;
  font-weight: 600;
}

.jumbotron {
  padding-left: 100px;
  margin: 0 auto;
}

.jumbotron p {
  padding-top: 10px;
  font-size: 15px;
  font-weight: 200;
  text-align: left;
  color: gray;
}

@media (max-width: 600px) {
  .header {
    padding-left: 0px;
    padding-right: 0px;
  }
}
