.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 80px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background: #00000042;
}

.nav_logo {
  position: fixed;
  left: 20px;
  top: 15px;
  object-fit: contain;
}

.nav_avatar {
  position: fixed;
  margin-top: 0rem;
  top: 15px;
  right: 20px;
  width: 50px;
  object-fit: contain;
}

.nav_avatar_menu {
  position: fixed;
  top: 78px;
  right: 65px;
  border: 1px solid #ccc;
  color: white;
  background-color: black;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
}

.nav_avatar_menu a {
  color: white;
}

.navbar {
  position: fixed;
  margin-left: 15rem;
  color: #000;
  font-weight: 700;
  font-size: medium;
}

.nav_items {
  text-decoration: none;
  display: flex;
  margin: 0.5rem 0;
  padding-left: 1.5rem;
}

.nav_item {
  width: 100%;
  display: inline-flex;
  margin-right: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  color: white;
}

.nav_item:hover {
  transform: all 4s;
  color: rgb(218, 203, 203);
}
